#cloud-config

apt_reboot_if_required: False
package_update: True
package_upgrade: True

preserve_hostname: False
hostname: ${server_name}
fqdn: ${server_name}.kleister.tech

password: p455w0rd!234
chpasswd:
  expire: False

ssh_svcname: ssh
ssh_deletekeys: True
ssh_pwauth: False
ssh_genkeytypes: ['rsa', 'ed25519']

write_files:
  - path: /etc/ssh/sshd_config
    content: |
      Protocol 2
      Port 22022
      AddressFamily inet
      ListenAddress 0.0.0.0
      ListenAddress ::

      HostKey /etc/ssh/ssh_host_ed25519_key
      HostKey /etc/ssh/ssh_host_rsa_key

      Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
      MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
      KexAlgorithms curve25519-sha256@libssh.org

      SyslogFacility AUTHPRIV
      LogLevel INFO

      UsePAM yes
      LoginGraceTime 30s
      PermitRootLogin yes
      PubkeyAuthentication yes
      StrictModes yes
      IgnoreRhosts yes
      IgnoreUserKnownHosts yes
      HostbasedAuthentication no
      MaxAuthTries 3
      MaxSessions 10
      MaxStartups 60:30:120

      AuthorizedKeysFile .ssh/authorized_keys
      RevokedKeys /etc/ssh/revoked_keys
      PasswordAuthentication no
      PermitEmptyPasswords no
      ChallengeResponseAuthentication no

      TCPKeepAlive no
      ClientAliveInterval 300
      ClientAliveCountMax 3
      PermitTunnel no
      AllowAgentForwarding yes
      AllowTcpForwarding yes
      GatewayPorts no
      X11Forwarding no
      X11UseLocalhost yes

      PermitUserEnvironment no
      AcceptEnv LANG LC_*

      Compression no
      UseDNS yes
      PrintMotd no
      PrintLastLog yes
      Banner none

      Subsystem sftp internal-sftp
